*{
    padding: 0px;
    margin: 0px;
}

.contenedor{
    
    height: 100vh;  /* vh es una medida para nevegadores, en este
                        caso toma el 100 % del navegador 
                        existente */
    display: flex;
    flex-direction: row;
    padding: 20px;
   
    justify-content: center;  /*Alinea el contenido*/
    align-items: center; /* alinea los elementos*/
    background-image: url("https://fondosmil.com/fondo/54336.png");
    

}
.contenedor div{
    background-color:black;
}
.cuadro{
    
    width: 600px;
    height: 600px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr ;
}

.cuadro div{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
}
.cuadro div:hover{
    background-color: gray;
    cursor: pointer;
}
button{
    padding: 20px 20px;
    background-color: rgb(118, 68, 165);
    color: white;
    outline: none; 
    border: 0px;
    border-radius: 8px;
    width: 200px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
}

button:hover{
    cursor: pointer;
    background-color: rgb(150, 86, 209);
}

